  <%= stylesheet_link_tag 'mystyle' %>
  <div class="log-in">
    <%= link_to categories_path, class: "fas fa-arrow-left custom-arrow" do %>
    <% end %>
    <h2 class="regTitle">TRANSACTIONS</h2>
  </div>
  <div class="d-flex flex-row-reverse bd-highlight" style="background-color:#3778c2">
    <div class="p-2 bd-highlight" style="color:#9cb8db">Most ancient</div>
    <div class="p-2 bd-highlight" style="color:#c1d2e8">Most recent</div>
  </div>

  <div class="d-flex flex-row-reverse bd-highlight bg-white">
    <div class="p-2 bd-highlight">$00.0</div>
    <div class="p-2 bd-highlight">Gift credit</div>
  </div>
  <hr/>
  <br/>

 <h4 class="tranTitle"><strong style="margin:auto">Transactions for:  <%= @category.name %> </strong> </h4>
 <h4 class="totAmount" style="color:skyblue"><strong>Total Amount :</strong> <%= number_to_currency(@total_amount) %></h4>

<br/>
<br/>


<div class="d-flex flex-column align-item-center" > 
      <% @transactions.each do |transaction| %>
      <div class="category">
          <i class="<%= @category.icon %> custom-icon fa-2x" ></i>
          <h2 class="catName"><%= transaction.name %></h2>
          <strong><%= number_to_currency(transaction.amount) %></strong>
          <br>  
      </div>
      <div class="transAt"><p><%= transaction.created_at %></p></div>
       <hr/>
      <% end %>
     
</div>
<br/>
<div class="p-2 d-flex justify-content-center cutomAddCatBtn" style="background-color:#5fb523">
<%= link_to "Add a new transaction", new_category_transaction_path(@category), class: "btn border border-white text-white" %>
</div>
